
/* events section */
.aboutUsPage .container{
margin-top: 0px;
z-index: 1;
}
.aboutUsPage{
z-index: 1;
background-color: #fff;
padding: 50px;
}
.mainRow{
box-shadow: 0px 5px 20px -7px #000;
border-radius: 10px;
background-color: #fff;
}

.aboutUsPage .container .row{
height: 500px;
}
.TeamTittle{
  letter-spacing: 5px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px !important;
}
.TeamTittle h1{
  font-size: 76px !important;
  font-weight: lighter !important;
}
.TeamTittle span{
  margin-left: 10px;
  display: block;
}
.aboutText{
  font-size: 20px;
  letter-spacing: 2px;
}
@media (max-width:480px)
{
  .TeamTittle{
    text-align: center;
    padding: 5px;
  }
  .TeamTittle h1{
    font-size: 24px !important;
    font-weight: lighter !important;
    display: inline-block !important;
  }
  .TeamTittle span{
    font-size: 24px;
    margin-left: -8px;
    display: inline-block;
  }
.aboutUsPage{
  padding: 20px;
}
.aboutUsPage .container{
margin-top: 100px;
}
.aboutText{
  font-size: 16px;
  letter-spacing: 1px;
}
.aboutUsPage .container .row{
height: 600px;
}


}
