<div class="container-fluid">
  <div class="bgSvg">
    <img class="img-fluid desktop" src="{{BACKGROUND_IMG}}" alt="abut image">
    <img class="img-fluid mobile" src="{{BACKGROUND_MOBILE_IMG}}" alt="about image">
  </div>
<div class="aboutUsPage fullPage row " id="events"> <!--EventsPage-->
    <div class="container">
      <div class="row mainRow">
        <div class="col-12 title">
          <h2>About</h2>
        </div>
        <div class="col-lg-6 col-sm-12 imageSection media">
          <img class="img-fluid mx-auto " src="{{ABOUT_IMG}}" alt="about image">
        </div>
        <div class="col-lg-6 col-sm-12 content align-self-center">
          <h1>Zonals'19</h1>
        <p>  <i class="fas fa-quote-left "></i>Nothing is more expensive than a missed opportunity<i class="fas fa-quote-right"></i><br>
          So here comes the grand opportunity for you all to showcase your talent and skills in such a grandeur event that is the ZONAL’s Technical event.
          Show how much you have got against some of the best and prove yourself.
          <br>
          <i class="fas fa-quote-left "></i>Ability is nothing without opportunity<i class="fas fa-quote-right "></i><br>
          So we give you a grand opportunity. Roll off your sleeves and get ready to experience some intense tussle between some best minds.
           </p>
        </div>
      </div>
    </div>
  </div>
  </div>
