<div class="container-fluid">
  <div class="bgSvg">
    <img class="img-fluid desktop" src="{{BACKGROUND_IMG}}" alt="abut image">
    <img class="img-fluid mobile" src="{{BACKGROUND_MOBILE_IMG}}" alt="about image">
  </div>
<div class="aboutUsPage fullPage row " id="events"> <!--EventsPage-->
    <div class="container">
      <div class="row mainRow">
        <div class="col-12 title">
          <h2>About</h2>
        </div>
        <div class="col-lg-6 col-sm-12 imageSection media">
          <img class="img-fluid mx-auto " src="{{ABOUT_IMG}}" alt="about image">
        </div>
        <div class="col-lg-6 col-sm-12 content align-self-center">
          <h1>Zonal-2019</h1>
        <p>  <i class="fas fa-quote-left "></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat null pariatur. Excepteur sint occaecat
           cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet,
           consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolo <i class="fas fa-quote-right"></i></p>
        </div>
      </div>
    </div>
  </div>
  </div>
