<div class="fluid-container">
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card">
        <button class="btn" routerLink='coordinator'>Coordinator</button>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card">
        <button class="btn" routerLink='add-coordinator'>Add Coordinator</button>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card" routerLink='events'>
        <button class="btn">Events</button>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card">
        <button class="btn" routerLink='add-events'>Add Events</button>
      </div>
    </div>
  </div>
</div>
</div>
