/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;padding:0;
overflow-x: hidden;
overflow-y: scroll;
font-family: 'GT';
}

@font-face {
  font-family: 'GT';
  src: url('./assets/font/gthaptikbold.woff2') format('woff2');
  src: url('./assets/font/gthaptiklight.woff2') format('woff2');
  src: url('./assets/font/gthaptikregular-oblique.woff2') format('woff2');
  src: url('./assets/font/gthaptikregular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
