
/* events section */
.EventsPage .container{
margin-top: -280px;
}
.EventsDesign{
height: 500px;
background-color: #000;
color: #fff;
border-radius: 10px;
padding: 70px;
}
.EventButton {
box-shadow: 0px 5px 15px -7px #1b1464 !important;
background-color: #000;
width: 180px;
color: #fff;
padding: 10px;
display: inline-block;
letter-spacing: 1px;
font-size: 1.2rem !important;
}
.EventButton:hover {
box-shadow: 0px 8px 20px -7px #000 !important;
background: #fff;
color: #000;
border-top: 3px solid #7e57c2 !important;
border-right: 3px solid #7e57c2 !important;
border-bottom: 3px solid #00e576 !important;
border-left: 3px solid #00e576 !important;
transition: .3s;
}
.ButtonText{
display: inline-block;
margin-left: 20px;
}
.EventsButton i{
display: inline-block;
}
.EventsDesign img{
width: 100%;
}
.EventsBox{
height: 500px;
overflow-x: scroll;
overflow-y: hidden;
}
.EventsPage{
z-index: 1;
background-color: #fff;
padding: 50px;
}
.EventsPage .row{
box-shadow: 0px 5px 20px -7px #000;
border-radius: 10px;
}
.box1{
  position: absolute;
  width: 60px;
  height: 30px;
  z-index: 100;
  border-bottom: 2px solid #00e576 !important;
  border-left: 2px solid #00e576 !important;
  top: 60%;
  left: 25%;
  animation-name: moveBorderBottom ;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes moveBorderBottom{
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
.box2{
  position: absolute;
  width: 60px;
  height: 30px;
  z-index: 100;
  border-top: 2px solid #7e57c2 !important;
  border-right: 2px solid #7e57c2 !important;
  top: 38%;
  left: 64%;
  animation-name: moveBorderTop ;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes moveBorderTop{
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
.EventsPage .container .row{
height: 500px;
}
.EventsCollection{
height: 500px;
background-color: #fff;
}
.EventsCollection .col-lg-4{
color: #fff;
font-weight: 400;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
z-index: 3;
cursor: pointer;
text-shadow: 2px 2px 5px #212121;
}
.EventsBox::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */

.EventsCollection .col-lg-3:hover{
box-shadow: 0px 0px 30px 2px #000 inset;
transition: .4s;
z-index: 10;
text-shadow: 0px 5px 5px #212121;
}
.card{
height: 200px;
background-color: #212121 !important;
}
.CalenderDesign{
width: 100%;
}

@media (max-width:480px)
{

.EventsPage{
  padding: 20px;
}
.EventsPage .container{
margin-top: -190px;
}
.EventsDesign{
  height: 0px;
  padding: 50px;
  margin-top: 0px;
}
.EventsDesign img{
  position: absolute;
  left: 35%;
}
.EventsDesign .windowScreen-event{
  width: 100px;
  visibility: ;
}
.EventsPage .container .row{
height: 250px;
}
.EventButton {
padding: 10px;
display: inline-block;
letter-spacing: 1px;
font-size: 1rem !important;
margin-top: -100px;
}
.box1{
  width: 60px;
  height: 30px;
  top: 18%;
  left: 20%;
}

.box2{
  width: 60px;
  height: 30px;
  top: 08%;
  left: 64%;

}

.EventsBox
{
  margin-top: 5px
}
.card{
  height: 100px;
}
.CalenderDesign{
  width: 100%;
}

}
