<div class="container-fluid">
<div class="EventsPage fullPage row " id="events"> <!--EventsPage-->
  <div class="bigBlock media">
    <img class=" img-fluid mx-auto" src="{{EVENT_BG_IMG}}" alt="EventsBg Image">
    <!-- <div class="smallBlock"></div> --></div>
  <div class="container">
    <div class="row mainRow">
      <div class="col-lg-7 col-sm-12 EventsDesign media "> <!--Events Designs ARE here-->
        <img class="wow animated img-fluid windowScreen-event align-self-center mobileHeight" src="{{EVENT_IMG}}" alt="Events Image">
      </div>
      <div class="col-lg-5 col-sm-12 EventsBox"> <!--Events button are here-->
        <div class="row ">
          <div class="box1"></div>
          <div class="box2"></div>
          <button class="btn EventButton mx-auto align-self-center" type="button" name="button" routerLink="events">
            <i class="fas fa-calendar animated infinite jello"></i><div class="ButtonText">Events</div></button>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
