<div class="EventsPage fullPage row " id="events"> <!--EventsPage-->
  <div class="container">
    <div class="row ">
      <div class="col-lg-7 col-sm-12 EventsDesign media"> <!--Events Designs ARE here-->
        <img class="animated jackInTheBox  img-fluid windowScreen-event align-self-center" src="{{EVENT_IMG}}" alt="Events Image">
        <div class="">

        </div>
      </div>
      <div class="col-lg-5 col-sm-12 EventsBox"> <!--Events button are here-->
        <div class="row ">
          <button class="btn EventButton mx-auto align-self-center" type="button" name="button" routerLink="events">
            <i class="fas fa-calendar animated infinite jello"></i><div class="ButtonText">Events</div></button>
        </div>
      </div>

    </div>
  </div>
</div>
