<!-- START FOOTER TOP SECTION -->
<div class="section footer-top-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 wow fadeInDown animated" data-wow-delay="0.2s">
        <div class="widget">
          <div class="icon logo-si">
            <!-- <i class="fas fa-bullhorn"></i> --><img src="{{LOGO}}" alt="">
          </div>
        </div><!-- END OF /. WIDGET -->
      </div><!-- END OF /. COLUMN -->
      <div class="col-md-6 col-lg-3 wow fadeInDown animated" data-wow-delay="0.4s">
        <div class="widget">
          <h3 class="headline">ABOUT AKGEC</h3>
          <div class="widget-item">
            <p>
              Ajay Kumar Garg Engineering College (AKGEC), Ghaziabad is affiliated to Dr. A.P.J. Abdul Kalam Technical
              University and is approved by the All India Council for Technical Education. The college was established
              in 1998 and offers B.Tech Courses in seven disciplines of Engineering. The college also offers
              <span><a target="_blank" href="https://akgec.ac.in/about-akgec">Know More....</a></span>
            </p>
          </div>
        </div><!-- END OF /. WIDGET -->
      </div><!-- END OF /. COLUMN -->
      <div class="col-md-3 wow fadeInDown animated" data-wow-delay="0.6s">
        <div class="widget">
          <h3 class="headline">RELATED LINKS</h3>
          <div class="widget-item">
            <ul>
              <li><i class="fas fa-location-arrow"></i><a routerLink="">Home</a></li>
              <li><i class="fas fa-location-arrow"></i><a href="#About">About</a></li>
              <li><i class="fas fa-location-arrow"></i><a routerLink="/events">Events</a></li>
              <li><i class="fas fa-location-arrow"></i><a routerLink="/register">Register</a></li>
              <li><i class="fas fa-location-arrow"></i><a href="#contact">Contact Us</a></li>
              <li><i class="fas fa-location-arrow"></i><a href="#team">Team</a></li>
            </ul>
          </div><!-- END OF /. WIDGET ITEM -->
        </div><!-- END OF /. WIDGET -->
      </div><!-- END OF /. COLUMN -->
      <div class="col-md-3 wow fadeInDown animated" data-wow-delay="0.8s">
        <div class="widget">
          <h3 class="headline">POPULAR LINKS</h3>
          <div class="widget-item">
            <ul>
              <li><i class="fas fa-location-arrow"></i><a href="https://akgec.ac.in/">AKGEC</a></li>
              <li><i class="fas fa-location-arrow"></i><a href="http://silive.in/">SOFTWARE INCUBATOR</a></li>
              <li><i class="fas fa-location-arrow"></i><a href="https://aktu.ac.in/">AKTU</a></li>
            </ul>
          </div><!-- END OF /. WIDGET ITEM -->
        </div><!-- END OF /. WIDGET -->
      </div><!-- END OF /. COLUMN -->
    </div><!-- END OF /. ROW -->
  </div><!-- END OF /. CONTAINER -->
</div><!-- END OF /. FOOTER TOP -->

<div class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>&copy;
          <span>2019</span> All Rights Reserved.
          <br>
            Designed & Developed by :<a class="logo" data-toggle="tooltip" data-placement="top" title="Software Incubator" href="http://silive.in/">
            Software Incubator</a>
        </p>

        <a href="#top" class="top-button"></a>
      </div>
    </div>
  </div>
</div>
