/* =======================
    FOOTER TOP SECTION
========================= */
.footer-top-section {
  display: block;
  width: 100%;
  background: #1b1464;
  padding: 70px 0 60px;
}

.icon {
  color: #fff;
  font-size: 150px;
  display: none;
}

@media screen and (min-width: 1024px){
  .icon{
    display: block;
  }
}

.widget {
}

.headline {
  margin: 0;
  padding: 0;
  font-size: 24px;
  display: block;
  text-align: left;
  color: #fff;
  position: relative;
  font-weight: 700;
  margin-bottom: 20px;
}

.headline:before{
  content: "";
  width: 100px;
  height: 2px;
  background: #00e576;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.widget-item {
}

.widget-item > p {
  color: #9e9e9e;
  font-size: 14px;
  line-height: 24px;
}

.widget-item > p > span{
  color: #fff;
  cursor: pointer;
}

.widget-item > p > span a{
  text-decoration: none;
  color: #fff;
}

.widget-item > p > span a:hover{
  color: #00e576;
}

.widget-item > ul {
}

.widget-item > ul > li {
  list-style-type: none;
}
.widget-item > ul > li > a {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  text-align: left;
  line-height: 30px;
  position: relative;
  padding-left: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}

.widget-item > ul > li > a:before{
  content: "\f77a";
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #00e576;
  font-size: 14px;
  padding-right: 0.5em;
  position: absolute;
  top: -5px;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s
}
.widget-item > ul > li > a:hover{
  color: #00e576;
}
/* .tagcloud {
  margin-left: -4px;
  margin-right: -4px;
}
.tagcloud > a {
  float: left;
  background: #00e576;
  padding: 3px 8px;
  margin: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  border-bottom: 1px solid #00e576;
}
.tagcloud > a:hover{
  border-bottom: 1px solid #fff;
} */

/* =======================
    FOOTER SECTION
========================= */
.footer-section {
  display: block;
  background: #000002;
  padding: 45px 0 20px 0;
  text-align: center;
  color: #fff;
  position: relative;
}
.footer-section p{
  padding: 0;
  margin: 0;
  display: block;
  color: #fff;
}
.footer-section p a{
  color: #00e576;
}
.footer-section p a:hover{
  color: #fff;
}
.top-button{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 40px 25px;
  border-color: transparent transparent #00e576 transparent;
  position: absolute;
  top: -60px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.top-button:before{
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #fff;
  font-size: 16px;
  padding-right: 0.5em;
  position: absolute;
  top: 15px;
  left: -3px;
}
.top-button.fixed{
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.logo img{
  border-radius: 50%;
  background-color: #fff;
  width: 20px;
  padding: 2px;
}
