<div class="row">
  <div class="col-12 divider"></div>
  <div class="content col-12 align-self-center text-center">
    <div class="row firstRow">
      <div class="col-lg-3 col-sm-8 mx-auto siLogo">
        <a href="www.silive.in"><h5>Powered by<img class="animated heartBeat infinite" src="{{SI_LOGO}}"></h5></a>
      </div>
      <div class="col-12 links">
        <a href="https://www.facebook.com/RedefiningLimitations"><div class="inline facebook"> <i class="fab fa-facebook-f"></i></div> </a>
        <a href="https://twitter.com/si_akgec"><div class="inline twitter"> <i class="fab fa-twitter"></i> </div></a>
        <a href="https://github.com/Software-Incubator"> <div class="inline github"><i class="fab fa-github"></i>  </div> </a>
        <a href="https://www.youtube.com/channel/UCamqzGM8e8nzsdi1bsoyaKw"><div class="inline youtube"> <i class="fab fa-youtube"></i> </div> </a>
      </div>
    </div>
  </div>
</div>
