<!-- START FOOTER TOP SECTION -->
<div class="section footer-top-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 wow fadeInDown animated" data-wow-delay="0.2s">
        <div class="widget">
          <h3 class="headline">ABOUT US</h3>
          <div class="widget-item">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
              massa. Cum
              sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
              ultricies
              nec, pellentesque eu.</p>
          </div><!-- END OF /. WIDGET ITEM -->
        </div><!-- END OF /. WIDGET -->
      </div><!-- END OF /. COLUMN -->
      <div class="col-md-3 wow fadeInDown animated" data-wow-delay="0.4s">
        <div class="widget">
          <h3 class="headline">RECENT POST</h3>
          <div class="widget-item">
            <ul>
              <li><a href="#">History of brooklyn</a></li>
              <li><a href="#">Penang street food</a></li>
              <li><a href="#">The mist of madagascar</a></li>
              <li><a href="#">J.R.R. tolkin</a></li>
              <li><a href="#">Morocco road trip</a></li>
              <li><a href="#">The noise - elixir</a></li>
            </ul>
          </div><!-- END OF /. WIDGET ITEM -->
        </div><!-- END OF /. WIDGET -->
      </div><!-- END OF /. COLUMN -->
      <div class="col-md-3 wow fadeInDown animated" data-wow-delay="0.6s">
        <div class="widget">
          <h3 class="headline">TOP COMMENTS</h3>
          <div class="widget-item">
            <ul>
              <li><a href="#">Er zijn vele variaties van</a></li>
              <li><a href="#">van Lorem Ipsum beschikbaar</a></li>
              <li><a href="#">het merendeel heeft te lijden</a></li>
              <li><a href="#">van wijzigingen in een of</a></li>
              <li><a href="#">vorm, door ingevoegde humor</a></li>
              <li><a href="#">willekeu seloofwaardig ogen.</a></li>
            </ul>
          </div><!-- END OF /. WIDGET ITEM -->
        </div><!-- END OF /. WIDGET -->
      </div><!-- END OF /. COLUMN -->
      <div class="col-md-3 wow fadeInDown animated" data-wow-delay="0.8s">
        <div class="widget">
          <h3 class="headline">POPULAR TAGS</h3>
          <div class="widget-item">
            <div class="tagcloud">
              <a href="#">Wordpress</a>
              <a href="#">HTML</a>
              <a href="#">Joomla</a>
              <a href="#">PSD</a>
              <a href="#">CSS</a>
              <a href="#">PHP</a>
              <a href="#">Javascript</a>
              <a href="#">Android</a>
              <a href="#">Clean</a>
              <a href="#">Free PSD</a>
              <a href="#">JS</a>
              <a href="#">Online aplication</a>
              <a href="#">Mozzilla</a>
              <a href="#">Jqurey</a>
              <a href="#">SEO</a>
              <a href="#">Facebook</a>
              <a href="#">CSS3</a>
            </div>
          </div><!-- END OF /. WIDGET ITEM -->
        </div><!-- END OF /. WIDGET -->
      </div><!-- END OF /. COLUMN -->
    </div><!-- END OF /. ROW -->
  </div><!-- END OF /. CONTAINER -->
</div><!-- END OF /. FOOTER TOP -->

<div class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Copyright &copy;
          <span>2019</span> All Rights Reserved.<br> Designed & Develop by : @silive
        </p>

        <a href="#top" class="top-button"></a>
      </div>
    </div>
  </div>
</div>