<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" routerLink="">ZONALS'19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto navbar-right">
        <li><a routerLink="">HOME</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#team">TEAM</a></li>
        <li><a href="#contact">CONTACT US</a></li>
        <li><a routerLink="/events">EVENTS</a></li>
        <li><a routerLink="/register">REGISTER</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav><!-- END OF /. NAVBAR -->
