<div class="header-section ">
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" routerLink="">ENTREVESTOR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto navbar-right">
                    <li><a routerLink="">HOME</a></li>
                    <li><a routerLink="/events">EVENTS</a></li>
                    <li><a routerLink="">INTERVIEWS</a></li>
                    <li><a routerLink="">TUTORIALS</a></li>
                    <li><a routerLink="">BLOGS</a></li>
                    <li><a href="#contact">CONTACT US</a></li>
                    <li><a routerLink="">LOG IN</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav><!-- END OF /. NAVBAR -->
</div><!-- END OF /. HEADER TOP SECTION -->