<nav class="navbar navbar-expand-lg navbar-light  sticky-top">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fas fa-bars"></i>
       </button>
       <a class="navbar-brand active" href="">Zonals'18 <span class="sr-only">(current)</span></a>

       <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

         <div class="my-2 my-lg-0 registerButton"> <!--Register Button-->
           <button class="btn " type="button" name="register">Register</button>
         </div>
       </div>
     </nav>