/* =======================
    HEADER SECTION
========================= */
.header-section {
  position: relative;
  padding: 10px 0;
  top: 0px;
  z-index: 500;
  width: 100%;
  left: 0;
  right: 0;
  background: #1b1464;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header-section.fixed{
  position: fixed;
  width: 100%;
  display: block;
  top: 0;
  background: #313840;
  padding: 10px 0;
  z-index: 9999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar {
  margin: 0;
  background: #313840;
  min-height: initial;
  box-shadow: none;
}
.icon-bar {
  background: #fff;
}
.navbar-brand {
  padding: 0;
  height: auto;
  color: #fff;
}
.navbar-toggle{
  margin: 0;
  margin-top: 5px;
}
.navbar-nav {
  border-top: 1px solid #46bfa9;
  border-bottom: 1px solid #46bfa9;
}
.navbar-right {
}
.navbar-right > li {
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;

}
.navbar-right > li ul{
  width: 170px;
  display: block;
  padding:0;
  background: #313840;
  position: absolute;
  left: 0;
  bottom: 100px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-right > li:hover ul{
  bottom: inherit;
  opacity: 1;
}

.navbar-right > li ul li{
  list-style: none
}
.navbar-right > li ul li a{
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #46bfa9;
  position: relative;
  background: #313840;
  padding: 15px;
  display: block;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.navbar-right > li ul li a:hover{
  background: #46bfa9;
  color: #fff
}

.navbar-right > li.active{
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.navbar-right > li > a {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  background: transparent;
  display: inline-block;
  padding: 12px 15px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.navbar-right > li > a:before, .navbar-right > li > a:after{
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.navbar-right > li > a:hover:before, .navbar-right > li > a:hover:after, .navbar-right > li.active > a:before, .navbar-right > li.active > a:after{
  width: 7px;
  height: 7px;
  background: #46bfa9;
  content: "";
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  outline: none !important
}
.navbar-right > li > a:before{
  top: -4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-right > li > a:after{
  bottom: -4px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-right > li > a:hover, .navbar-right > li > a:focus, .navbar-right > li.active > a{
  background: transparent;
  color: #46bfa9;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  outline: none !important
}
