<div class="container-fluid">
  <div class="container RegisterPage">
    <div class="row RegisterPageRow ">
      <div class="col-lg-8 col-sm-11 mx-auto">
        <form class="row" [formGroup]="registerForm" (ngSubmit)="submitForm()">
          <div class="form-group col-lg-6 col-sm-12">
            <mat-form-field appearance="standard">
              <mat-label>College Name</mat-label>
              <input class="form-control" matInput placeholder="College Name" type="text" formControlName="college_name">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
          <div class="form-group col-lg-6 col-sm-12">
          <p>
            <mat-form-field appearance="standard">
              <mat-label>College Code</mat-label>
              <input class="form-control" matInput placeholder="College Code" type="number" formControlName="college_code">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          </div>
          <div class="form-group col-lg-6 col-sm-12">
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Faculty Name</mat-label>
                <input class="form-control" matInput placeholder="Faculty Name" type="text" formControlName="faculty_name">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
          </div>

          <div class="form-group col-lg-6 col-sm-12">
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Faculty Designation</mat-label>
                <input class="form-control" matInput placeholder="Faculty Designation" type="text" formControlName="faculty_designation">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
          </div>

          <div class="form-group col-lg-6 col-sm-12">
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Faculty Phone Number</mat-label>
                <input class="form-control" matInput placeholder="Faculty Phone Number" type="tel" formControlName="faculty_phn_no">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
          </div>

          <div class="form-group col-lg-6 col-sm-12">
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Faculty Email</mat-label>
                <input class="form-control" matInput placeholder="Faculty Email" type="email" formControlName="faculty_email">
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
          </div>

          <div class="form-group col-lg-12 col-sm-12">
            <p *ngIf="events">
              <mat-form-field  appearance="standard">
                <mat-select class="form-control" placeholder="Event" formControlName="event">
                  <mat-option [value]="null">
                    --- Select Event ----
                  </mat-option>
                  <mat-option *ngFor="let event of events" [value]="event.id">
                    {{event.name}} -- ({{event.maxp}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>


          <div class="form-group col-lg-12 col-sm-12">
            <p *ngIf="participants">
              <mat-form-field appearance="standard">
                <mat-select class="form-control" placeholder="Select Participants" formControlName="n_participants">
                  <mat-option [value]="null">
                    --- Select Participants ----
                  </mat-option>
                  <mat-option *ngFor="let participant of participants" [value]="participant">
                    {{participant}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>


          <div formArrayName="participants"> <!--participants-->
            <h3>Participants</h3>

            <div *ngFor="let participant of registerForm.controls['participants']; let i=index">
              <!-- The repeated alias template -->
              <div [formGroupName]="i">
                <p>
                  <mat-form-field appearance="standard">
                    <mat-label>Name of Student</mat-label>
                    <input class="form-control" matInput placeholder="Name of Student" type="text" formControlName="name">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>Fathers Name</mat-label>
                    <input class="form-control" matInput placeholder="Fathers Name" type="text" formControlName="fathers_name">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>University Roll.No</mat-label>
                    <input class="form-control" matInput placeholder="University Roll.No" type="number" formControlName="university_roll">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>Branch</mat-label>
                    <input class="form-control" matInput placeholder="Branch" type="text" formControlName="branch">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="standard">
                    <mat-label>Year</mat-label>
                    <input class="form-control" matInput placeholder="Year" type="number" formControlName="year">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>Gender</mat-label>
                    <input class="form-control" matInput placeholder="Gender" type="text" formControlName="gender">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>Aadhar Number</mat-label>
                    <input class="form-control" matInput placeholder="Aadhar Number" type="number" formControlName="aadhar_no">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>Phone No.</mat-label>
                    <input class="form-control" matInput placeholder="Phone No." type="tel" formControlName="phn_no">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input class="form-control" matInput placeholder="Email" type="email" formControlName="email">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
              </div>
            </div>
          </div>

          <div>
              <re-captcha (resolved)="resolved($event)" siteKey="{{SITE_KEY}}"></re-captcha>
          </div>
          <div>
              <button class="btn btn-primary" mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Submit</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
