<div class="container fullPage">
  <div class="row">
    <div class="col-lg-1 col-sm-12 TeamTittle">
      <h1>T</h1> <span>eam</span>
    </div>
    <div class="col-lg-11 col-sm-12">
      <div class="row teamRow mx-auto align-self-center"> <!--team row-->
        <div class="col-lg-4 col-sm-10 teamCard"><!--team card-1-->
          <div class="row">
            <img class="mx-auto" src="{{IMG}}" alt="Team-Member">
            <div class="TeamMemberDetails text-center media ">
              <span>Prof. Parashar<br>
                Proffessor</span>
          </div>
          </div>
        </div><!--team card-1 ends-->
        <div class="col-lg-4 col-sm-10 teamCard"><!--team card-1-->
          <div class="row">
            <img class="mx-auto" src="{{IMG}}" alt="Team-Member">
            <div class="TeamMemberDetails text-center media ">
              <span>Prof. Parashar<br>
                Proffessor</span>
          </div>
          </div>
        </div><!--team card-1 ends-->
        <div class="col-lg-4 col-sm-10 teamCard"><!--team card-1-->
          <div class="row">
            <img class="mx-auto" src="{{IMG}}" alt="Team-Member">
            <div class="TeamMemberDetails text-center media ">
              <span>Prof. Parashar<br>
                Proffessor</span>
          </div>
          </div>
        </div><!--team card-1 ends-->


        </div>
      </div>
    </div>
  </div>
