<div class="container-fluid">
  <div class="container fullPage">
    <div class="bgSvg">
      <img class="img-fluid desktop" src="{{BACKGROUND_IMG}}" alt="abut image">
      <img class="img-fluid mobile" src="{{BACKGROUND_MOBILE_IMG}}" alt="about image">
    </div>
    <div class="row main-row">
      <div class="col-12 title">
        <h2>Team</h2>
      </div>
      <div class="col-lg-11 col-sm-10 mx-auto">
        <div class="row teamRow mx-auto align-self-center">
            <div class="col-lg-6 col-md-6 col-sm-12 teamCard">
                <!--team card-1-->
                <div class="row prof">
                  <img class="mx-auto prof" src="{{IMG}}" alt="Team-Member">
                  <div class="TeamMemberDetails text-center media ">
                    <span>Prof. V.K. Parashar<br>
                      Dean Student Welfare</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 teamCard">
                  <!--team card-1-->
                  <div class="row prof">
                    <img class="mx-auto" src="{{IMG_7}}" alt="Team-Member">
                    <div class="TeamMemberDetails text-center media ">
                      <span>Dr. J. G. Yadav<br>
                        Associate Professor (EN)</span>
                    </div>
                  </div>
                </div>
          <!--team row-->
          <div class="col-lg-3 col-md-6 col-sm-12 teamCard">
            <!--team card-1-->
            <div class="row conv">
              <img class="mx-auto" src="{{IMG_1}}" alt="Team-Member">
              <div class="TeamMemberDetails text-center media ">
                <span>Eeshank Karanwal<br>
                  Convenor</span>
              </div>
            </div>
          </div>
          <!--team card-1 ends-->
          <div class="col-lg-3 col-md-6 col-sm-12 teamCard">
            <!--team card-1-->
            <div class="row conv">
              <img class="mx-auto" src="{{IMG_2}}" alt="Team-Member">
              <div class="TeamMemberDetails text-center media ">
                <span>Kunal<br>
                  Convenor</span>
              </div>
            </div>
          </div>
          <!--team card-1 ends-->
          <div class="col-lg-3 col-md-6 col-sm-12 teamCard">
            <!--team card-1-->
            <div class="row conv">
              <img class="mx-auto" src="{{IMG_3}}" alt="Team-Member">
              <div class="TeamMemberDetails text-center media ">
                <span>Yash Saxena<br>
                  Convenor</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3  col-md-6 col-sm-12 teamCard">
              <!--team card-1-->
              <div class="row conv">
                <img class="mx-auto" src="{{IMG_8}}" alt="Team-Member">
                <div class="TeamMemberDetails text-center media ">
                  <span>Shivam Chaudhary<br>
                    Convenor</span>
                </div>
              </div>
            </div>
          <div class="col-12">
            <mat-divider></mat-divider>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 teamCard">
            <!--team card-1-->
            <div class="row">
              <img class="mx-auto" src="{{IMG_4}}" alt="Team-Member">
              <div class="TeamMemberDetails text-center media ">
                <span>Deepanshu Tyagi<br>
                  Web Development Team</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 teamCard">
            <!--team card-1-->
            <div class="row">
              <img class="mx-auto" src="{{IMG_5}}" alt="Team-Member">
              <div class="TeamMemberDetails text-center media ">
                <span>Sarthak Khatana<br>
                  Web Development Team</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 teamCard">
            <!--team card-1-->
            <div class="row">
              <img class="mx-auto" src="{{IMG_6}}" alt="Team-Member">
              <div class="TeamMemberDetails text-center media ">
                <span>Prabhanshu Chauhan<br>
                  Web Development Team</span>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
