<div class="fluid-container" [ngStyle]="{'background-image':'url(' + EVENT_BG_IMG + ')'}">
  <div class="back-btn" routerLink=""><i class="fas fa-arrow-left"></i></div>
  <div class="container">
    <div>
      <h3 class="text-center"><span class="heading">General Rules and Regulations</span></h3>
    </div>
    <div>
      <ul>
        <li><i class="fas fa-location-arrow"></i>
          <h6>All the participants should bring the <b>College Identity Card</b>.</h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>All the participants should bring <b>No objection Certificate</b> from Director/ Principal of the
            concerned
            college. Event wise list of participants may be prepared for this purpose.</h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>One player can participate in maximum 3 events.</h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>Only one team from a college will be allowed to participate in a particular event.</h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>Participants of all events should report at the assigned venue at least 30 minutes before start of the
            respective events.
          </h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>Two office bearers, 1 M/ 1 F, should accompany the squad from each participating college who will be
            responsible for the discipline of their team. Officials should also bring their <b>College Identity Card</b>.
          </h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>If any participant is found involved in any indiscipline activities he/she will be debarred from the
            tournament immediately.
          </h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>Illegal participation of any player/Team in any event will be responsible for disqualification of all
            teams of the concerned college from all events of the tournament and the college authority will be
            responsible for this act.</h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>Religion based performances will not be allowed. Such performances may cause disqualification.</h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>Decision of the judges/umpires will be final and binding to all.</h6>
        </li>
        <li><i class="fas fa-location-arrow"></i>
          <h6>Only winners of each event will be eligible to participate in State Level events. </h6>
        </li>
      </ul>
    </div>
  </div>
</div>
