/* =======================
    CONTACT SECTION
========================= */
.contact-section {
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 30px;
}


.contact-section:before{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(27, 20, 100, .90);
}

.contact-section .titie-section{
  display: block;
  margin-bottom: 80px;
}

.contact-section .titie-section h1{
  color: #fff;
}

.contact-section .left-content {
  display: block;
  overflow: hidden;
}

.contact-section .left-content h1{
  font-size: 44px;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1;
  font-weight: 300;
}

.contact-section .left-content h1 span{
  color: #00e576;
}

.contact-section .left-content h3{
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.contact-section .left-content p{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.contact-section .left-content p b{
  color: #00e576;
}
.contact-section .left-content p{
  margin-bottom: 0;
}

.left-content .contact-img{
  height: 250px;
}

.left-content .contact-img img{
  height: 250px;
}

.left-content .contact-info{
  display: block;
  margin-top: 30px;
  opacity: 1;
}

.left-content .contact-info p{
  margin: 0;
  display: block;
  opacity: 1
}

.contact-form  input.submit-btn{
  display: inline-block;
  background: transparent !important;
  padding: 15px 60px !important;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  outline: none
}
#message .error_message{
  display: block;
  width: 100%;
  color: red;
  padding: 5px 0;
}
#message fieldset{
  display: block;
  width: 100%;
}
#message fieldset h1{
  color: #00e576;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.contact-form{
  margin-top: 40px;
  display: block;
}
.contact-form .col-md-6{
  display: block;
}

.contact-form .input-group{
  width: 100%;
  display: block;
}
.contact-form  input.form-control, .contact-form textarea.form-control{
  width: 100%;
  display: block;
  background: transparent;
  border: 1px solid #fff;
  height: 50px;
}
.contact-form  textarea.form-control{
  height: 120px;
}
.contact-form .form-control:focus, .contact-form .form-control:hover{
  border: 1px solid #00e576;
  box-shadow: none;
  color: #00e576 !important;
}

::placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
 color: #fff;
}

::-ms-input-placeholder {
 color: #fff;
}

span.pori-btn{
  padding: 0;
}

.form-control{
  color: #00e576;
}

.submit-button {
  box-shadow: 0px 5px 15px -7px #1b1464 !important;
  background-color: #7e57c2;
  width: 100%;
  color: #fff;
  padding: 10px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.2rem !important;
  }

  .submit-button:hover {
  box-shadow: 0px 8px 20px -7px #000 !important;
  background: #fff;
  color: #000;
  border-top: 1.5px solid #7e57c2 !important;
  border-right: 1.5px solid #7e57c2 !important;
  border-bottom: 1.5px solid #00e576 !important;
  border-left: 1.5px solid #00e576 !important;
  transition: .3s;
  }

  #verifyEmailAlert {
    background-color: #fff;
    margin: auto;
    max-width: 330px;
  }
  
  #verifyEmailAlert .verify-alert-icon {
    padding: 20px;
    color: #f0ad4e!important;
    font-size: 70px;
    transition: all 1s ease-in;
    -webkit-text-stroke: 20px #fff;
  }
  
  #verifyEmailAlert .verify-alert-message {
    color: #4CAF50;
    font-size: 16px;
    -webkit-transition: all 1 ease-in 1;
    -moz-transition: all 1 ease-in 1;
    transition: all 1 ease-in 1;
    padding-bottom: 30px;
  }
  