<div class="aboutUsPage fullPage row " id="events"> <!--EventsPage-->
  <div class="container">
    <div class="row mainRow">
      <div class="col-12">
        <div class="row imageRow">
          <div class="col-lg-4 col-sm-12 contactUsImage">
            <img class="img-fluid windowScreen-event align-self-center" src="{{CONTACT_IMG}}" alt="Events Image">
          </div>
          <div class="col-lg-6 col-sm-12 contactText  text-center align-self-center">
            <h3><i class="fas fa-envelope"></i>technicalzonals19@gmail.com</h3><br>
            <h3><i class="fas fa-phone"></i>Mobile no.</h3>

          </div>

        </div>
      </div>
      <div class="col-12">
        <div class="">

        </div>
      </div>
    </div>
  </div>
</div>
