<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-overlay"></div>
        <img class="card-image" src="{{EVENT_BG_IMG}}">
        <h3>Event Name</h3>
        <div class="card-details fadeIn-top">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <button type="button" class="btn btn-outline-primary">KnowMore...</button>
        </div>
      </div>
    </div>
  </div>
</div>
