.fluid-container{
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}


.event-card{
  padding: 20px;
  margin-top: 40px;
  height: 300px;
}

.event-info{
  width: 250px;
  height: 250px;
  margin: auto;
  cursor: pointer;
}

.event-card .event-info img{
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 1;
  position: absolute;
  left: 15%;
  border: 2px solid #212121;
  cursor: pointer;
}

.event-card:hover{
  animation-name: jello;
  animation-duration: .75s;
  transform-origin: center;
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
.event-card .event{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  z-index: 2;
  display: block;
  padding-top: 50px;
  font-weight: lighter;
  left: 15%;
}

.event-card .event:hover{
  position: absolute;
  opacity: 1;
  z-index: 50;
  background-color: #000;
  color: #fff;
  transition: .7s;
  box-shadow: 0px 0px 20px -5px #000;
}
/* team */
@media (max-width:480px)
{
  /* team */
  .event-card{
    padding: 20px;
    margin-top: 10px;
  }
  .event-card img{
    left: 5%;
  }
  .event-card .event{
    left: 5%;
  }
}

.more-button {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.2rem !important;
  }
