<div id="externalScene">
  <div id="scene3d"></div>
</div>
<div class="container">
  <div class="row" *ngIf="events">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let event of events">
      <div class="card">
        <div class="card-overlay"></div>
        <img class="card-image" src="{{event.image}}">
        <h3>{{event.name}}</h3>
        <div class="card-details fadeIn-top">
          <p>{{event.details}}</p>
          <button type="button" class="btn btn-outline-primary" routerLink="/events/{{event.id}}">KnowMore...</button>
        </div>
      </div>
    </div>
  </div>
</div>
