<script>
    // Our Javascript will go here.
    var scene = new THREE.Scene(); //creating the scene
    var camera = new THREE.PerspectiveCamera( 100, window.innerWidth / window.innerHeight, 0.1, 1000 );
    var renderer = new THREE.WebGLRenderer(); //rendering the scene
    renderer.setSize( window.innerWidth, window.innerHeight );
    document.body.appendChild( renderer.domElement );

    window.addEventListener('resize', function() //resizing the canvas as per the size of window
    {
      var width = window.innerWidth;
      var height = window.innerHeight;
      renderer.setSize(width, height);
      camera.aspect= width / height;
      camera.updateProjectionMatrix();
    });


    var geometry = new THREE.BoxGeometry( 1, 1, 1 );
    var cubeMaterials =
    [
      new THREE.MeshBasicMaterial({map: new THREE.TextureLoader().load('Jam.png'), side: THREE.DoubleSide}), //rightside
      new THREE.MeshBasicMaterial({map: new THREE.TextureLoader().load('Bridge.png'), side: THREE.DoubleSide}), //leftside
      new THREE.MeshBasicMaterial({map: new THREE.TextureLoader().load('Code.png'), side: THREE.DoubleSide}), //topside
      new THREE.MeshBasicMaterial({map: new THREE.TextureLoader().load('Robo.png'), side: THREE.DoubleSide}), //bottomside
      new THREE.MeshBasicMaterial({map: new THREE.TextureLoader().load('Poster.png'), side: THREE.DoubleSide}), //frontside
      new THREE.MeshBasicMaterial({map: new THREE.TextureLoader().load('Debate.png'), side: THREE.DoubleSide}), //backside
    ];
    // var material = new THREE.MeshBasicMaterial( { color: 0xffffff, wireframe:true } );
    var material = new THREE.MeshFaceMaterial(cubeMaterials);
    var cube = new THREE.Mesh( geometry, material );
    scene.add( cube );

    camera.position.z = 2;

    // var ambientLight = new THREE.AmbientLight(0x00e576, 2.0);
    // scene.add(ambientLight);

    function animate() {
       requestAnimationFrame( animate );
       cube.rotation.x += 0.01;  //animating the cube
       cube.rotation.y += 0.01;
       cube.rotation.z +=0.01;
        renderer.render( scene, camera );
      }
      animate();
    </script>
<div class="container-fluid">
  <div class="EventsPage fullPage row " id="events"> <!--EventsPage-->
      <div class="container">
        <div class="row ">
          <div class="col-lg-7 col-sm-12 EventsDesign media"> <!--Events Designs ARE here-->
            <img class="animated jackInTheBox  img-fluid windowScreen-event align-self-center" src="Events.svg" alt="Events Image">
            <div class="">

            </div>
          </div>
          <div class="col-lg-5 col-sm-12 EventsBox"> <!--Events button are here-->
            <div class="row ">
              <button class="btn EventButton mx-auto align-self-center" type="button" name="button">
                <i class="fas fa-calendar animated infinite jello"></i><div class="ButtonText">Events</div></button>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

