.LandingPage{
  z-index: 0;
  margin-top:-250px;
}
.LandingPage .MainHeader{
  position: absolute;
  z-index: 99;
  text-align: center;
  width: 100%;
  top: 30%;
  color: #fff;
  font-size: 4.5rem;
  font-weight: lighter !important;
  letter-spacing: 40px;
  text-shadow: 0px 2px 8px 1px #1b1464;
  padding-left: 15px;
}
.Aktu{
  position: absolute;
  z-index: 101;
  text-align: center;
  width: 100%;
  top: 18%;
  color: #fff;
  font-size: 1rem;
  font-weight: lighter !important;
  text-shadow: 0px 2px 8px 1px #1b1464;
}
.frontImage{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}
.box1{
  position: absolute;
  width: 60px;
  height: 30px;
  z-index: 100;
  border-bottom: 3px solid #00e576 !important;
  border-left: 3px solid #00e576 !important;
  top: 20%;
  left: 30%;
}
.box2{
  position: absolute;
  width: 60px;
  height: 30px;
  z-index: 100;
  border-top: 3px solid #7e57c2 !important;
  border-right: 3px solid #7e57c2 !important;
  top: 15%;
  left: 65%;
}
.year{
  position: absolute;
  font-size:4rem;
  color: #fff;
  z-index: 105;
  cursor: pointer;
}
.year:hover{
  animation: bounce 1s infinite;
}
.two{
  top: 65%;
  left: 10%;
  transform: rotateZ(-5deg);
}
.zero{
  top: 84%;
  left: 31.5%;
  transform: rotateZ(5deg);
}
.one{
  top: 72.5%;
  left: 62%;
}
.nine{
  top: 85.5%;
  left: 89%;
  transform: rotateZ(15deg);
}
#scene3d {
	width: 300px;
	height: 300px;
	background: red;
}

.fullPage{
  scroll-snap-align: end;
  height: 100vh;
  color: #fff;
}

canvas {
  width: 100%; height: 100% ;
  position: absolute;
}

.mobileImage{
  display: none;
}

.desktopImage{
  position: absolute;
  left: 0;
  bottom: 0;

}
@media (max-width:480px){
  .desktopImage{
  visibility: collapse;
  }
  .mobileImage{
  visibility: visible;
  }
  .LandingPage{
    margin-top: -300px;
  }
  .LandingPage .MainHeader{
    top: 35%;
    font-size: 3rem;
    font-weight: lighter !important;
    letter-spacing: 10px;
    padding-left: 15px;
  }
  .Aktu{
    top: 15%;
    font-size: .8rem;
    font-weight: lighter !important;
    text-shadow: 0px 2px 8px 1px #1b1464;
  }
  .frontImage{
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 100;
    top: 501px;
  }
  .box1{
    position: absolute;
    width: 60px;
    height: 30px;
    top: 17%;
    left: 5%;
  }
  .box2{
    position: absolute;
    width: 60px;
    height: 30px;
    top: 12%;
    left: 79%;
  }
  .year{
    font-size:3rem;
  }
  .year:hover{
    animation: bounce 1s infinite;
  }
  .two{
    top: 84%;
    left: 10%;
    transform: rotateZ(-15deg);
  }
  .zero{
    top: 84%;
    left: 31.5%;
  transform: rotateZ(10deg);}
  .one{
    top: 83.2%;
    left: 62%;
    transform: rotateZ(5deg);
  }
  .nine{
    top: 83%;
    left: 89%;}
  #scene3d{
    background-color: #fff;
  }
}
