<div id="externalScene">
  <div id="scene3d"></div>
</div>
<div class="LandingPage fullPage">
  <div class=frontImage>
    <img class="img-fluid desktopImage" src="{{MOUNTAINS_IMG}}" alt="mountain-image">
    <img class="img-fluid mobileImage" src="{{MOBILE_MOUNTAINS_IMG}}" alt="mountain-image">
  </div>

  <div class="year two"> <p>2</p> </div> <!--year -->
   <div class="year zero "> <p>0</p> </div>
  <div class="year one"> <p>1</p> </div>
  <div class="year nine"> <p>9</p> </div>

  <div class="box1 animated pulse infinite delay-2s"></div><!--border -->
  <div class="box2 animated pulse infinite delay-2s"></div>
  <div class="box3"></div>
  <div class="box4"></div>
  <div class="MainHeader animated bounceInDown">ZONALS</div>
  <div class="Aktu"> Dr. APJ ABDUL KALAM TECHNICAL UNIVERSITY <br> powered by Ajay Kumar Garg Engineerung College </div>
</div>
