.LandingPage{
  background-color: #fff;
  z-index: 0;
}
.LandingPage .MainHeader{
  position: absolute;
  z-index: 99;
  text-align: center;
  width: 100%;
  top: 75%;
  color: #fff;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 20px;
  text-shadow: 0px 2px 8px 1px #1b1464;
}
