<div class="container-fluid">
  <div class="EventsPage fullPage row " id="events"> <!--EventsPage-->
        <div class="container">
          <div class="row ">
            <div class="col-lg-6 col-sm-12 EventsDesign media"> <!--Events Designs ARE here-->
              <img class="animated infinite pulse  img-fluid windowScreen-event align-self-center" src="Events.svg" alt="Events Image">
              <div class="">

              </div>
            </div>
            <div class="col-lg-6 col-sm-12 EventsBox"> <!--Events Images are here-->

            </div>

          </div>
      </div>
  </div>
</div>
