.menu{
  width: 250px;
  height: 100%;
  background-color: #1b1464;
  color: #fff;
  margin: 0;
  box-sizing: border-box;
}

.admin-image{
  margin: auto;
  text-align: center;
}

.admin-image h1{
  font-size: 80px;
  padding-top: 80px;
}

ul{
  text-decoration: none;
}

.buttons{
  padding-top: 20px;
}

.buttons button{
  display: block;
  width: 100%;
  background-color: #1b1464;
  border: 0;
  border-bottom: 1px solid #7e57c2;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.buttons button:hover{
  background-color: #7e57c2;
}

footer{
text-align: center;
}

footer img{
  width:20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
}

footer a{
  text-decoration: none;
  color: #fff;
}

footer a:hover{
  color: #00e576;
}

.fixed-bottom{
  width: 250px;
  padding-bottom: 20px;
}
