<div class="fluid-container" [ngStyle]="{'background-image':'url(' + EVENT_BG_IMG + ')'}">
    <div class="back-btn" routerLink="/events"><i class="fas fa-arrow-left"></i></div>
  <div *ngIf="event" class="container">

    <div class="row">
      <div class="col-12 event-name" [ngStyle]="{
        'background-color' :  event.color
      }">
        <h3>{{event.name}}</h3>
        <img src={{event.image}}>
      </div>
      <div class="col-12 event-schedule">
        <div class="event-date">
          <h3><i class="far fa-calendar-alt"></i> {{event.date}}</h3>
        </div>
        <div class="event-time">
          <h4><i class="far fa-clock"></i>{{event.time}}</h4>
        </div>
        <div class="event-venue">
          <h4><i class="fas fa-map-marker-alt"></i>{{event.venue}}</h4>
        </div>
      </div>
      <div class="col-12 event-detail">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Event Details</h3>
        <p innerHtml="{{event.details}}"></p>
      </div>
      <div class="col-12 event-rules">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Event Rules</h3>
        <p innerHtml="{{event.rules}}"></p>
      </div>
      <div class="col-12 faculty-coordinator">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Faculty Coordinator</h3>
        <div class="row">
          <div class="col-md-6 col-lg-4 col-12">
            <div class="faculty-img">
              <img src="{{event.faculty_image}}" class="img-fluid">
            </div>
          </div>
          <div class="col-md-6 col-lg-8 col-12">
            <h6>{{event.faculty_name}}</h6>
            <h6>{{event.department}}</h6>
          </div>
        </div>
      </div>
      <div class="col-12 student-coordinator">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Student Coordinators</h3>
        <div class="row">
          <div class="col-3" *ngFor="let coordinator of event.coordinators">
            <div class="student-img">
              <img src="{{coordinator.image}}" class="img-fluid">
            </div>
            <h6 class="text-center">{{coordinator.name}}</h6>
            <h6 class="text-center">{{coordinator.phn_no}}</h6>
          </div>
        </div>
      </div>
      <div class="col-12 student-coordinator" *ngIf="participants">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Event Participants</h3>
        <ul>
          <li *ngFor="let participant of participants">
            {{participant.name}} -- {{participant.college_name}} -- {{participant.university_roll}} -- {{participant.year}}
            -- {{participant.branch}} -- {{participant.gender}} -- {{participant.phn_no}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
