.fluid-container{
  padding: 5%;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  margin-top: 100px;
  padding: 50px;
  background-color: #fff;
  border-radius: .15rem;
}

.back-btn{
  color: #fff;
  width: 30px;
  height: 30px;
  position: fixed;
  margin-top: 50px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #1b1464;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}

.back-btn:hover{
background-color: #fff;
border: 1px solid #1b1464;
color: #000;
}

.event-name{
  height: 100px;
  color: #fff;
  text-align: center;
  border-radius: 0.125rem;
}

.event-name img{
  width: 100px;
  height: 100px;;
  border-radius: 50%;
  border: 2px solid #1b1464;
  margin-top: 5px;
}

.event-schedule{
  margin-top: 80px !important;
  text-align: center;
  padding: 10px;
}

.event-schedule, .event-details, .event-rules, .faculty-coordinator, .student-coordinator{
  margin-top: 50px;
}

.faculty-img, .student-img img{
  width: 150px;
  height: 150px;
}

.faculty-info{
  margin: auto;
}

.table{
  text-transform: capitalize !important;
}

.table .uppercase{
  text-transform: uppercase !important;
}
