<div class="fluid-container" [ngStyle]="{'background-image':'url(' + EVENT_BG_IMG + ')'}">
  <div class="back-btn" routerLink="/events"><i class="fas fa-arrow-left"></i></div>
  <div *ngIf="event" class="container">

    <div class="row">
      <div class="col-12 event-name" [ngStyle]="{
        'background-color' :  event.color
      }">
        <h4 class="heading">{{event.name}}</h4>
        <img src={{event.image}}>
      </div>
      <div class="col-12 event-schedule">
        <div class="event-date">
          <h3><i class="far fa-calendar-alt"></i> {{event.date}}</h3>
        </div>
        <div class="event-time">
          <h4><i class="far fa-clock"></i>{{event.time}}</h4>
        </div>
        <div class="event-venue">
          <h4><i class="fas fa-map-marker-alt"></i>{{event.venue}}</h4>
        </div>
      </div>
      <!-- <div class="col-12 event-detail">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Event Details</h3>
        <p innerHtml="{{event.details}}"></p>
      </div> -->
      <div class="col-12 event-rules">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Event Rules</h3>
        <p innerHtml="{{event.rules}}"></p>
      </div>
      <div class="col-12 student-coordinator">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Faculty Coordinator</h3>
        <div class="row">
          <div class="col-md-6 col-lg-4 col-12" *ngFor="let faculty of event.faculties">
            <div class="faculty-img">
              <img [ngStyle]="{'border' : '1px solid ' + event.color +' ', 'border-radius' : '50%'}" src="{{faculty.image}}" class="img-fluid">
            </div>
            <h6 class="text-center">{{faculty.name}}</h6>
            <h6 class="text-center">{{faculty.phn_no}}</h6>
            <h6 class="text-center">{{faculty.designation}} / {{faculty.department}}</h6>
          </div>
        </div>
      </div>
      <div class="col-12 student-coordinator">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Student Coordinators</h3>
        <div class="row">
          <div class="col-md-6 col-lg-3 col-sm-12" *ngFor="let coordinator of event.coordinators">
            <div class="student-img">
              <img [ngStyle]="{'border' : '1px solid ' + event.color +' ', 'border-radius' : '50%'}" src="{{coordinator.image}}" class="img-fluid">
            </div>
            <h6 class="text-center">{{coordinator.name}}</h6>
            <h6 class="text-center">{{coordinator.branch}} / {{coordinator.year}}</h6>
            <h6 class="text-center">{{coordinator.phn_no}}</h6>
          </div>
        </div>
      </div>
      <div class="col-12 student-coordinator" *ngIf="participants">
        <h3 [ngStyle]="{'border-bottom' : '2px solid ' + event.color +' '}">Participants</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">College</th>
                <th scope="col">University Roll-No.</th>
                <th scope="col">Branch</th>
                <th scope="col">Year</th>
                <th scope="col">Gender</th>
                <th scope="col">Phone No.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let participant of participants">
                <td class="uppercase">{{participant.name}}</td>
                <td class="uppercase">{{participant.college_name}}</td>
                <td class="uppercase">{{participant.university_roll}}</td>
                <td class="uppercase">{{participant.branch}}</td>
                <td class="uppercase">{{participant.year}}</td>
                <td class="uppercase">{{participant.gender}}</td>
                <td class="uppercase">{{participant.phn_no}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
